my-workflow-3-nuCWJdcgyohW3MdJ.json
{"createdAt":"2025-08-04T02:19:00.163Z","updatedAt":"2025-08-04T02:21:40.726Z","id":"nuCWJdcgyohW3MdJ","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,288],"id":"ab8c3298-8cfc-40a5-84a4-29a9f3ee2dbb","name":"Schedule Trigger"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[352,144],"id":"9380a151-39f9-43c0-a9a6-ab4f13510c35","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"qW7FLeTQUxu9QLI1","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Generate a detailed prompt for an AI image generator. The subject is a tabby cat. It is cleverly setting trap to a mice with a cheese. (e.g. a kitchen colander, basket, mousetrap, bowl). The setting should be a cozy home environment (like a kitchen, living room, or study), in a natural photographic style with realistic lighting. The lighting should be a bright morning scene with strong, cozy sunlight. Give me the image prompt directly without title text and explanation.\n\nExample Output Image Prompt:\nA clever tabby cat sets a trap in a modern kitchen, holding a string delicately with its paw. The trap consists of a metal colander, positioned over a triangle piece of cheese on a gray coaster. A small brown mouse cautiously approaches the cheese, unaware of the impending trap. The cat watches silently with focused eyes, ready to release the string. Warm, soft lighting and a shallow depth of field highlight the humorous tension in the scene. The background features subtle kitchen details, such as tiled walls and wooden countertops, enhancing the cozy domestic atmosphere. The image is sharp, photorealistic, playful, and cinematic, with a natural color palette and whimsical storytelling."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[272,288],"id":"8dea6a72-4e00-43f2-bbdd-d86cab35ef30","name":"Image Prompt Generator"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-image-1\",\n    \"prompt\": \"{{ $json.text }}\",\n    \"quality\": \"high\",\n    \"size\": \"1024x1536\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,288],"id":"83f56c54-992c-4be7-bf2e-5abbb293ee13","name":"HTTP Request","credentials":{"openRouterApi":{"id":"qW7FLeTQUxu9QLI1","name":"OpenRouter account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[224,512],"id":"32583463-01a3-4c78-a6b8-0cef1c15c16e","name":"Convert to File"},{"parameters":{"method":"POST","url":"=https://gdrxrpfqehlcglamyemm.supabase.co/storage/v1/object/n8n-catvsrat/{{ $now.format('yyyyMMddHHmmss')}}_tmpimage.png","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,512],"id":"2bfae33d-dcce-4aa4-8c62-d3aa6aff0602","name":"Upload To Supabase","credentials":{"supabaseApi":{"id":"7ppYgnZlR1nsHEba","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/minimax/video-01/image-to-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"image_url\": \"https://gdrxrpfqehlcglamyemm.supabase.co/storage/v1/object/public/{{ $json.Key }}\",\n  \"aspect_ratio\": \"9:16\",\n  \"prompt\": \"[Static Camera]\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,752],"id":"c0a379b2-9909-46b3-9944-840c89a4781a","name":"Image To Video With Minimax","credentials":{"httpHeaderAuth":{"id":"VpEqq8V9MZFBA9G4","name":"Header Auth account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[352,752],"id":"b563d98c-4192-4090-956b-c4d22ee566bf","name":"Wait","webhookId":"74986ae9-862f-4edc-99b4-fb0821c2fd3d"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/minimax/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,752],"id":"a4981e51-49cc-446c-a70d-f8114b3a2c98","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"VpEqq8V9MZFBA9G4","name":"Header Auth account"}}},{"parameters":{"content":"## Step 1: Image Generation","height":340,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,112],"id":"a4b57e93-9436-4f68-80fc-a0aca0f13a00","name":"Sticky Note"},{"parameters":{"content":"# 🅰🅽🅳🆈🅽🅾🅲🅾🅳🅴 𝔸𝕀 𝔸𝕔𝕒𝕕𝕖𝕞𝕪\n\n","height":80,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"e7007845-df16-4a8c-9b96-25c60733acf9","name":"Sticky Note1"},{"parameters":{"content":"## Step 2: Convert To PNG & Store to Supabase","height":200,"width":820,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,464],"id":"d747010d-943c-4f08-8d70-c3e84b762e4d","name":"Sticky Note2"},{"parameters":{"content":"## Step 3: Image-To-Video With Minimax","height":240,"width":820,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,688],"id":"3691562a-4aba-416f-bcc3-1961ad68ce47","name":"Sticky Note3"},{"parameters":{"content":"### Step 1: Image Generation\n- Prompt Generation: OpenRouter/OpenAI-gpt -4o-mini\n- Image Generation: OpenAI gpt-image-1\n\n### Step 2: Convert To PNG & Store to Supabase\n- Remember to change the Project URL & Public Bucket Name\n\n### Step 3: Image-To-Video With Minimax\n- We used Minimax video-01/image-to-video ($0.5 per 5 seconds)\n- Feel free to try other video models as well","height":280,"width":480,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,640],"id":"038d40f3-b877-4ca9-a6e2-7cd14af862a0","name":"Sticky Note4"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Image Prompt Generator","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Image Prompt Generator","type":"ai_languageModel","index":0}]]},"Image Prompt Generator":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload To Supabase","type":"main","index":0}]]},"Upload To Supabase":{"main":[[{"node":"Image To Video With Minimax","type":"main","index":0}]]},"Image To Video With Minimax":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab7ee7aa-9e61-42f5-8864-b2946c4f7b7f","triggerCount":0,"tags":[]}