my-workflow-3-wE6nHSbQRpl8LV6p.json
{"createdAt":"2025-08-04T00:44:49.565Z","updatedAt":"2025-08-04T00:44:49.565Z","id":"wE6nHSbQRpl8LV6p","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1984,288],"id":"dfbbc9d3-7073-4d51-a581-3ce929daeba0","name":"Gatilho Programado"},{"parameters":{"options":{}},"id":"8d771037-8ce1-4594-b8fa-4663d0c0dfb9","name":"Registrador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1760,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"aeefa5f2-3d69-4446-ace5-039e8d42388d","name":"Formatador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1536,288]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"="},"id":"0fae151c-77bb-4d18-9da9-53a50925a9fe","name":"Listador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1104,288],"alwaysOutputData":true,"webhookId":"0c175126-8800-4849-8a4d-b5bb799131fb","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"ad94caa5-3f22-4940-9c04-f6b057072640","name":"Combinador de Arquivos","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-880,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"18b6aea5-8e30-4c75-bd3e-050f9328eb9a","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-656,288],"credentials":{"n8nApi":{"id":"utUxjhYIuabHrHcp","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"26666b76-072a-413d-abd6-121e41fa6d4c","name":"Conversão de Dados","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-448,288]},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"fjustuss","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,288],"id":"500d99c8-8d5c-415b-95e6-672169a1383d","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,288],"id":"551d3b7e-fb85-451c-bf25-7ef47f8e7c0c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"65c45187-e1b7-4c11-a88c-371dc4c9f441","name":"No Operation, do nothing"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinador de Arquivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ecac22e1-8805-4f82-ba84-f11cfbc72052","name":"Verificação de Arquivo","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,208]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"5720fcd6-a174-4178-a4f0-80fa27fbfe34","name":"Atualizador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,288],"webhookId":"35710c3f-dcd0-48e5-a28b-5fccc886d4e3","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"07418fd6-2f3d-4de6-9c7d-98a3dc9d14e7","name":"Uploader de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,480],"webhookId":"6c757711-0d17-4713-ba44-86aed3b51e15","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}}}],"connections":{"Gatilho Programado":{"main":[[{"node":"Registrador de Data","type":"main","index":0}]]},"Registrador de Data":{"main":[[{"node":"Formatador de Data","type":"main","index":0}]]},"Formatador de Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Listador de Arquivos":{"main":[[{"node":"Combinador de Arquivos","type":"main","index":0}]]},"Combinador de Arquivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Conversão de Dados","type":"main","index":0}]]},"Conversão de Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Listador de Arquivos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verificação de Arquivo","type":"main","index":0}]]},"Verificação de Arquivo":{"main":[[{"node":"Atualizador de Arquivos","type":"main","index":0}],[{"node":"Uploader de Arquivos","type":"main","index":0}]]},"Atualizador de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a461319e-aaef-4f15-9591-7efc6948f84d","triggerCount":0,"tags":[]}