my-workflow-2-y3wMoRCVVS32Rinf.json
{"createdAt":"2025-08-04T00:40:05.222Z","updatedAt":"2025-08-04T00:40:05.222Z","id":"y3wMoRCVVS32Rinf","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2192,368],"id":"f2957411-4691-4d71-afef-a7471faae4ae","name":"Gatilho Programado"},{"parameters":{"options":{}},"id":"9b2b90fb-6645-47a4-8fd8-ce7d2bc39986","name":"Registrador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1968,368]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"23990621-159a-43bc-aa20-03c38523c5e6","name":"Formatador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1744,368]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"="},"id":"0129d989-ac3b-4b89-9e3f-383b4709b91e","name":"Listador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1312,368],"alwaysOutputData":true,"webhookId":"0c175126-8800-4849-8a4d-b5bb799131fb","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"6ea52b53-ff8e-4a52-a0bd-e9eaeaa995b5","name":"Combinador de Arquivos","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1088,368]},{"parameters":{"filters":{},"requestOptions":{}},"id":"7138248a-131a-4f07-8bda-6ae2f29034fc","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-864,368],"credentials":{"n8nApi":{"id":"utUxjhYIuabHrHcp","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"f31f8cad-2e43-4b39-bc65-1751cb1581fc","name":"Conversão de Dados","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-656,368]},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"rlucio01","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,368],"id":"723e0dd1-9411-47dc-9250-9526e36103bc","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-432,368],"id":"9acb5997-2393-4d54-a547-9bf88756ff41","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-208,80],"id":"b26834ca-ca0d-4eb2-a8a4-213585c0c7a2","name":"No Operation, do nothing"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinador de Arquivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"c11d649f-2062-40e1-95cf-a5a4698ef722","name":"Verificação de Arquivo","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,288]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"ce834b22-4ee7-4d02-bda2-4ab6047868e5","name":"Atualizador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[16,368],"webhookId":"35710c3f-dcd0-48e5-a28b-5fccc886d4e3","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"02295944-aef8-4ead-8433-0cea43810e08","name":"Uploader de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[16,560],"webhookId":"6c757711-0d17-4713-ba44-86aed3b51e15","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}}}],"connections":{"Gatilho Programado":{"main":[[{"node":"Registrador de Data","type":"main","index":0}]]},"Registrador de Data":{"main":[[{"node":"Formatador de Data","type":"main","index":0}]]},"Formatador de Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Listador de Arquivos":{"main":[[{"node":"Combinador de Arquivos","type":"main","index":0}]]},"Combinador de Arquivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Conversão de Dados","type":"main","index":0}]]},"Conversão de Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Listador de Arquivos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verificação de Arquivo","type":"main","index":0}]]},"Verificação de Arquivo":{"main":[[{"node":"Atualizador de Arquivos","type":"main","index":0}],[{"node":"Uploader de Arquivos","type":"main","index":0}]]},"Atualizador de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89465f5b-1ba3-4523-809f-d53568a87c9a","triggerCount":0,"tags":[]}