my-workflow-EyR8hKs7lpqFEOrs.json
{"createdAt":"2025-08-04T00:23:10.546Z","updatedAt":"2025-08-04T00:36:11.851Z","id":"EyR8hKs7lpqFEOrs","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1984,288],"id":"eb7d110f-4c86-42ad-9351-686bf85061dd","name":"Gatilho Programado"},{"parameters":{"options":{}},"id":"efb4b569-94f8-4847-b705-a71f611ec177","name":"Registrador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1760,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"b8a7416b-63f6-4a4c-a97d-24c9fee3ea94","name":"Formatador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1536,288]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"="},"id":"732ed88f-b07f-403d-89f9-c0cc1db4ed50","name":"Listador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1104,288],"alwaysOutputData":true,"webhookId":"0c175126-8800-4849-8a4d-b5bb799131fb","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"5f6d068c-2226-4bc2-aaca-5418764884db","name":"Combinador de Arquivos","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-880,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"dca99cd1-e3a7-4346-8262-e551e0eb3652","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-656,288],"credentials":{"n8nApi":{"id":"utUxjhYIuabHrHcp","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"59401a36-1e98-4a14-808f-151e8dffad7d","name":"Conversão de Dados","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-448,288],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"rlucio01","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,288],"id":"f04781e7-f42a-4454-8bb8-6b04e3c2ba0b","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,288],"id":"f8f358be-f525-480b-8dfa-fc72e96cb385","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"04e850c3-6568-49b7-9828-e04f33cdd86a","name":"No Operation, do nothing"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinador de Arquivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"016fb6d8-20a2-4d1c-9d62-f0bf1c883bcf","name":"Verificação de Arquivo","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,208]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/fjustuss/n8n","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/fjustuss/n8n","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"="},"id":"e894b24f-c080-4f8f-b847-04f07f391c92","name":"Atualizador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,288],"webhookId":"35710c3f-dcd0-48e5-a28b-5fccc886d4e3","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/fjustuss/n8n","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/fjustuss/n8n","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"90833d5f-5991-4d77-9c90-63ee89cf4f93","name":"Uploader de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,480],"webhookId":"6c757711-0d17-4713-ba44-86aed3b51e15","credentials":{"githubApi":{"id":"Rl46HzHYztL6UbzQ","name":"GitHub account"}}}],"connections":{"Gatilho Programado":{"main":[[{"node":"Registrador de Data","type":"main","index":0}]]},"Registrador de Data":{"main":[[{"node":"Formatador de Data","type":"main","index":0}]]},"Formatador de Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Listador de Arquivos":{"main":[[{"node":"Combinador de Arquivos","type":"main","index":0}]]},"Combinador de Arquivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Conversão de Dados","type":"main","index":0}]]},"Conversão de Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Listador de Arquivos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verificação de Arquivo","type":"main","index":0}]]},"Verificação de Arquivo":{"main":[[{"node":"Atualizador de Arquivos","type":"main","index":0}],[{"node":"Uploader de Arquivos","type":"main","index":0}]]},"Atualizador de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"361880db-af51-4267-86fd-e5b2445d6216","triggerCount":0,"tags":[]}